# Build output
dist/
tsconfig.tsbuildinfo

# Node modules (optional, jika tidak workspace-level)
node_modules/

# Editor folders
.vscode/
.idea/
.next/
_next/

# Logs
*.log

# OS artifacts
.DS_Store
Thumbs.db
